body .ant-table-tbody > tr td {
  padding: 8px;
}
.filter-css {
  border: 1px solid #ededed;
  padding: 20px;
  margin-top: 10px;
}
.search-gaoji-sel {
  width: 220px;
}
.change-sel-css {
  overflow: hidden;
  border-bottom: 1px solid #ededed;
  .ant-select-selection {
    border: none;
  }
}
span.tab {
  width: 88px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  display: block;
  float: left;
  cursor: pointer;

  &.on-it {
    border-bottom: 3px solid #2290ff;
  }
}
.myleads-name {
  color: #2290ff;
  cursor: pointer;
}

.myleads-tag {
  font-size: 12px;
  line-height: 18px;
  margin-top: 4px;
  display: block;
  i {
    font-style: normal;
  }

  .ke-mu {
    color: #ee57a5;
    padding: 0 6px;
    float: left;
    background-color: #fff0f6;
    border-radius: 4px;
    border: 1px solid #ffadd2;
    margin-right: 4px;
  }

  .grade {
    color: #90d772;
    padding: 0 6px;
    float: left;
    background-color: #f6ffed;
    border-radius: 4px;
    border: 1px solid #b7eb8f;
    margin-right: 4px;
  }

  .mgm {
    color: #fa6e41;
    padding: 0 6px;
    float: left;
    background-color: #fff2e8;
    border-radius: 4px;
    border: 1px solid #ffbb96;
    margin-right: 4px;
  }

  .fu {
    color: #814ad5;
    padding: 0 6px;
    float: left;
    background-color: #f9f0ff;
    border-radius: 4px;
    border: 1px solid #d3adf7;
    margin-right: 4px;

    &.manse {
      background-color: #814ad5;
      border: 1px solid #814ad5;
      color: #f9f0ff;
    }
  }
}
