.distributionImport {
  display: inline-block;
  margin-left: 10px;

  button {
    text-align: center;
    margin-right: 10px;

    span {
      margin-right: 0;
    }
  }
}
.add{
  float: right;
}
.line{
  margin-bottom: 20px;
}
.addBtn{
  margin-left: 780px;
}