.add-contract {
  .ant-form-item {
    margin-bottom: 8px;
  }
  .top-ul {
    overflow: hidden;
    padding: 30px;
    .top-li {
      float: left;
      width: 40%;
    }
  }
  .contract {
    display: inline-block;
    width: 40%;
    padding-left: 50px;
    .ant-form-item-label {
      width: 30%;
    }
    .ant-col-sm-22 {
      width: 70%;
    }
  }

  .pay {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    .money {
      width: 45%;
      &:last-child {
        margin-top: 20px;
      }
    }
  }
  .News {
    text-align: center;
    margin-bottom: 0;
  }
  .order1 {
    display: inline-block;
    width: 55%;
    padding-left: 50px;
    .ant-form-item-label {
      width: 40%;
    }
    .ant-col-sm-22 {
      width: 60%;
    }
  }
  .order2 {
    display: inline-block;
    width: 30%;
    padding-left: 50px;
    .ant-form-item-label {
      width: 40%;
    }
    .ant-col-sm-22 {
      width: 60%;
    }
  }
  .order3 {
    display: inline-block;
    width: 0;
    padding-left: 0;
    .ant-form-item-label {
      width: 0;
    }
    .ant-col-sm-22 {
      width: 0;
    }
  }
  .add {
    text-align: center;
  }
  .textarea {
    margin-top: 20px;
  }
  .noLabel {
    .ant-form-item-control {
      text-align: center;
    }
  }
  .textarea {
    .ant-col-sm-22 {
      padding: 0 100px 0 20px;
    }
  }
}
