.order-content {
  position: relative;
  .ant-input-suffix {
    color: #bfbfbf !important;
  }
  .filter-left-parent {
    width: auto;
  }
  .filter-left {
    line-height: 32px;
    text-align: right;
    padding-right: 10px;
  }

  .tabsWrapper {
    position: relative;
    margin-top: 20px;
  }
  .grete-dingdan {
    position: absolute;
    top: 0;
    right: 0;
  }
  .tableWrapper {
    margin-top: 30px;
    .table-actions {
      a:nth-of-type(1) {
        margin-right: 20px;
      }
    }
  }
}

.orderExportWrapper {
  .ml10 {
    margin-left: 10px;
  }
}
