.distributionImport {
  display: inline-block;
  margin-left: 10px;

  button {
    text-align: center;
    margin-right: 10px;

    span {
      margin-right: 0;
    }
  }
}
.line{
  margin-bottom: 20px;
}