.orderLessonDetailsPage {
  .ant-table-body {
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed;
  }
  .btn-box {
    text-align: right;
    height: 50px;
    .btn-right {
      position: absolute;
      right: 40px;
    }
  }
  .ant-table-tbody > tr > td {
    padding: 8px 8px 12px 8px;
  }
  .ant-table-thead > tr > th {
    padding: 16px 8px;
  }
  .space {
    margin-top: 24px;
    border-top: 1px solid #e6e6e6;
  }

  .top-img {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 96px;
    margin: 0 43px 0 0;
    overflow: hidden;
  }

  .tongji {
    padding: 16px;
    height: auto;
    overflow: hidden;

    .cate-date-comp {
      input {
        width: 250px;
        height: 96px;
        cursor: pointer;
      }

      opacity: 0;
    }
  }

  .bgc1 {
    cursor: pointer;
    // background: url('../img/zu1.png') left bottom no-repeat;
    border-radius: 8px;
    box-shadow: 0 0 10px #cfe4ff;
    float: left;
  }

  .bgc2 {
    cursor: pointer;
    // background: url('../img/zu2.png') left bottom no-repeat;
    border-radius: 8px;
    box-shadow: 0 0 10px #d9e4ff;
    float: left;
  }

  .bgc3 {
    cursor: pointer;
    // background: url('../img/zu3.png') left bottom no-repeat;
    border-radius: 8px;
    box-shadow: 0 0 10px #d9e4ff;
    float: left;
  }

  .tom-img-text {
    position: absolute;
    top: 19px;
    right: 20px;
    bottom: 60px;
    left: 140px;
    color: #7b7b7b;
    font-size: 17px;
    line-height: 14px;
    text-align: right;
  }

  .tom-img-num {
    position: absolute;
    top: 49px;
    right: 19px;
    bottom: 20px;
    left: 193px;
    color: #678bff;
    font-size: 30px;
    line-height: 44px;
  }

  .search-div {
    //margin-top: 28px;
    //margin-bottom: 28px;
    height: auto;
    overflow: hidden;
  }

  .search-inp-wrap {
    float: left;
    height: auto;
  }

  .search-bn-wrap {
    float: left;
    margin-left: 12px;
    height: auto;
  }

  .search-inp {
    width: 100px;
    height: 36px;
    margin: 0 10px 4px;
    display: inline-block;
  }

  .search-bn {
    width: 68px;
    height: 36px;
    margin-right: 10px;
  }

  .filter-com {
    margin-top: 14px;
    clear: both;
    font-size: 14px;
    height: auto;
    overflow: hidden;
  }

  .paix-xiala {
    font-size: 16px;
    color: #333333;
  }

  .gaoji-search {
    cursor: pointer;
    line-height: 34px;
    float: right;

    span {
      margin-right: 8px;
    }
  }

  .search-gaoji-sel {
    width: 100px;
    min-height: 35px;
    margin-right: 10px;
  }

  .search-sel {
    width: 140px;
    min-height: 35px;
    margin-right: 10px;
  }

  .rili-wid {
    width: 230px;
  }

  .search-gaoji-Radio {
    margin-left: 6px;
  }

  .crear-up {
    position: relative;
    top: -4px;
    left: 8px;
    font-size: 12px;
  }

  .crear-pxtext {
    font-size: 12px;
    margin-left: 6px;
  }

  .crear-down {
    position: relative;
    left: -4px;
    top: 4px;
    font-size: 12px;
  }

  .asjlq {
    position: absolute;
    right: 100px;
  }

  //leads,tab演示
  .leads-tab-com {
    .taps-nav {
      font-size: 15px;
      height: auto;
      overflow: hidden;

      span.tab {
        width: 88px;
        height: 62px;
        line-height: 62px;
        text-align: center;
        display: block;
        float: left;
        cursor: pointer;

        &.on-it {
          border-bottom: 3px solid #2290ff;
        }
      }
    }

    .space-mt {
      margin-top: 62px;
    }

    .add-leads-bn {
      float: right;
      margin-top: 12px;
      height: 38px;
      font-size: 16px;
      line-height: 18px;
    }

    .taps-pai {
      width: auto;
      float: right;
      font-size: 14px;
      margin-top: 20px;

      .distributionImport {
        display: inline-block;
        margin-left: 100px;

        button {
          text-align: center;
          margin-right: 10px;

          span {
            margin-right: 0;
          }
        }
      }

      span {
        margin-right: 16px;
        cursor: pointer;
      }
    }
  }

  //
  .myleads-table {
    height: auto;
    overflow: hidden;
    line-height: 34px;
    font-size: 16px;

    .start {
      cursor: pointer;
      width: 32px;
      height: 34px;
      float: left;
      display: block;
      // background: url('../img/start.png') center no-repeat;
    }

    .start0 {
      cursor: pointer;
      width: 32px;
      height: 34px;
      float: left;
      display: block;
      // background: url('../img/start0.png') center no-repeat;
    }

    .phone {
      cursor: pointer;
      width: 24px;
      height: 34px;
      float: left;
      display: block;
      margin-left: 48px;
      // background: url('../img/phone.png') center no-repeat;
    }

    .myleads-name {
      float: left;
      color: #2290ff;
      cursor: pointer;
    }
  }

  .myleads-tag {
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;

    i {
      font-style: normal;
    }

    .ke-mu {
      color: #ee57a5;
      padding: 0 6px;
      float: left;
      background-color: #fff0f6;
      border-radius: 4px;
      border: 1px solid #ffadd2;
      margin-right: 4px;
    }

    .grade {
      color: #90d772;
      padding: 0 6px;
      float: left;
      background-color: #f6ffed;
      border-radius: 4px;
      border: 1px solid #b7eb8f;
      margin-right: 4px;
    }

    .mgm {
      color: #fa6e41;
      padding: 0 6px;
      float: left;
      background-color: #fff2e8;
      border-radius: 4px;
      border: 1px solid #ffbb96;
      margin-right: 4px;
    }

    .fu {
      color: #814ad5;
      padding: 0 6px;
      float: left;
      background-color: #f9f0ff;
      border-radius: 4px;
      border: 1px solid #d3adf7;
      margin-right: 4px;

      &.manse {
        background-color: #814ad5;
        border: 1px solid #814ad5;
        color: #f9f0ff;
      }
    }
  }

  .gao-ceng1 {
    height: auto;
    position: relative;
    padding: 10px 0;
  }

  .table-cz {
    cursor: pointer;
  }
}

.yanshi-form {
  .ant-col-5 {
    width: 19.8%;
  }
}

.my-cate-date-comp {
  .ant-calendar-range {
    width: 840px;
  }

  .jintian {
    border-top: 4px solid #2797ff;
    height: 54px;
    background-color: #d4ebff;
    margin: 2px;
  }

  .jintian-no {
    border-top: 4px solid #efefef;
    height: 54px;
    background: #f9f9f9;
    margin: 2px;
  }

  .rl-item {
    cursor: pointer;
    height: 54px;
  }

  .ant-calendar-header {
    .ant-calendar-prev-year-btn,
    .ant-calendar-prev-month-btn,
    .ant-calendar-next-year-btn,
    .ant-calendar-next-month-btn {
      font-size: 26px;
    }
  }

  .ant-calendar-selected-day {
    .jintian-no {
      border-top: 4px solid #9fc7f9;
      background-color: #2797ff;
      color: #ffffff;
    }

    .jintian {
      background-color: #d4ebff;
      border: 1px solid #419aff;
      border-top: 4px solid #2797ff;
    }
  }

  .ant-calendar-in-range-cell {
    .jintian-no {
      background-color: #419aff;
      color: #ffffff;

      i {
        color: #ffffff;
      }
    }

    .jintian {
      background-color: #73c4ff;
      color: #ffffff;

      i {
        color: #ffffff;
      }
    }
  }

  .ant-calendar td {
    margin: 1px;
    font-size: 19px;
    position: relative;

    i {
      color: #2797ff;
      font-size: 18px;
      bottom: 4px;
      right: 2px;
      position: absolute;
      font-style: normal;
    }
  }

  .ant-calendar-range-middle {
    left: 72%;
    display: none;
  }

  .ant-calendar {
    margin-top: 120px;
  }

  .ant-calendar-input-wrap {
    display: none;
  }
}

.add-leads-form {
  .ant-form-item-with-help {
    margin-bottom: 32px;
  }
  .lian-xi {
    font-size: 16px;
    font-weight: 700;
  }

  .ant-col-9 {
    position: absolute;
    margin-top: -32px;
    text-align: left;
    margin-left: 30px;
  }

  .ant-col-15 {
    width: 88%;
    margin-left: 30px;
  }

  .bn-jia {
    width: 100%;
    cursor: pointer;
    border: 1px dotted #dedede;
    font-size: 14px;
    color: #999;
    line-height: 30px;
  }

  .bn-jian {
    cursor: pointer;
    width: 14px;
    margin-left: 16px;
    font-size: 21px;
    color: #999;
    line-height: 30px;
  }
}

.xq-modal .ant-modal-content {
  background-color: #fafafa;
}

.xq-modal .ant-modal-close-x {
  position: relative;
  top: -12px;
  left: 13px;
}

.xq-modal .ant-modal-body {
  padding: 40px 26px 30px;
}

.xq-modal-wrap {
  display: flex;
  flex-wrap: nowrap;

  .xq-modal-left {
    flex: 0 30%;
    text-align: center;
    border-radius: 4px;
    margin-right: 24px;

    .left-wrap {
      background-color: #fff;
      padding-top: 29px;
      padding-left: 6px;
      border-radius: 4px;
    }
  }

  .left-top {
    text-align: center;
    margin: 0 26px 0 24px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 14px;

    .left-biaoqian {
      i {
        font-style: normal;
      }

      .ke-mu {
        color: #ee57a5;
        padding: 2px 6px;
        background-color: #fff0f6;
        border-radius: 4px;
        border: 1px solid #ffadd2;
        margin-right: 4px;
      }

      .grade {
        color: #90d772;
        padding: 2px 6px;
        background-color: #f6ffed;
        border-radius: 4px;
        border: 1px solid #b7eb8f;
        margin-right: 4px;
      }

      .mgm {
        color: #fa6e41;
        padding: 2px 6px;
        background-color: #fff2e8;
        border-radius: 4px;
        border: 1px solid #ffbb96;
        margin-right: 4px;
      }

      .fu {
        color: #814ad5;
        padding: 2px 6px;
        background-color: #f9f0ff;
        border-radius: 4px;
        border: 1px solid #d3adf7;
        margin-right: 4px;

        &.manse {
          background-color: #814ad5;
          border: 1px solid #814ad5;
          color: #f9f0ff;
        }
      }
    }
  }

  .xq-modal-right {
    flex: 1;
    border-radius: 4px;
  }

  .top-span1 {
    color: #1890ff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
  }

  .top-span2 {
    font-size: 20px;
    font-weight: 700;
  }

  .start {
    width: 12px;
    height: 18px;
    display: inline-block;
    // background: url('../img/start.png') center no-repeat;
  }

  .bianhao {
    margin: 14px 0 28px;
    font-weight: 500;
  }

  .left-cen {
    margin: 19px 26px 0 24px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 14px;
    text-align: left;
    font-weight: 500;
  }

  .left-cen div,
  .left-bottom div {
    margin: 13px 0;
  }

  .left-cen span,
  .left-bottom span {
    margin-left: 14px;
  }

  .phone {
    width: 24px;
    height: 24px;
    float: right;
    display: block;
    margin-left: 48px;
    // background: url('../img/phone.png') center no-repeat;
  }

  .left-bottom {
    margin: 19px 26px 14px 24px;
    padding-bottom: 14px;
    text-align: left;
    font-weight: 500;
  }

  .right-wrap {
    background-color: #fff;
    padding: 18px 24px 30px;
    border-radius: 4px;

    strong {
      font-weight: bold;
    }

    .zz-change,
    .qd-change,
    .kb-change,
    .dj-change,
    .jl-change {
      float: right;
    }

    span.tab {
      width: 100px;
      height: 62px;
      line-height: 62px;
      text-align: center;
      display: inline-block;
      cursor: pointer;

      &.on-it {
        border-bottom: 3px solid #2290ff;
        color: #2290ff;
      }
    }

    .clear {
      border-bottom: 1px solid #ccc;
    }

    .audio-wrap {
      margin: 10px 0;

      audio {
        width: 340px;
        height: 54px;
      }
    }

    .item-bot {
      padding: 16px 0;
      border-bottom: 1px solid #ccc;

      span {
        margin-left: 8px;
        margin-right: 17px;
        font-weight: 500;
      }
    }
  }

  .right-two {
    margin-top: 30px;
    background-color: white;
    width: 100%;

    .ant-timeline {
      margin-top: 15px;
    }

    span:nth-child(3) {
      float: right;
      font-weight: 500;
    }

    span:nth-child(1) {
      position: relative;
      margin-left: 14px;
    }

    span:nth-child(2) {
      float: right;
      margin-left: 38px;
    }

    .ant-timeline-item-last {
      padding: 0;
      height: 21px;
    }

    .ant-timeline-item-head {
      top: -2px;
      left: -3px;
      width: 16px;
      height: 16px;
    }
  }

  .circle {
    width: 19px;
    height: 19px;
    display: inline-block;
    // background: url('../img/circle1.png') center no-repeat;
  }
}

.info-leads-model {
  .ant-modal-body {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 30px;
  }

  .ant-modal-header {
    display: none;
  }

  .ant-modal-close-x {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }

  .xq-modal-wrap {
    div.Panel-cln {
      border-radius: 6px;
      overflow: hidden;
      margin-bottom: 20px;
      background-color: #fff;
      border-bottom: none;

      div.ant-collapse-header {
        font-weight: 600;
        font-size: 14px;
        border-radius: 6px;
        padding: 12px 0 12px 20px;

        i.arrow {
          position: absolute;
          right: 12px;
          left: auto;
          color: #2290ff;
        }
      }
    }

    .ant-collapse-borderless {
      background: none;
      //& > .ant-collapse-item > .ant-collapse-content {
      //  max-height: 380px;
      //  overflow-y: auto;
      //}
    }
  }

  .rap-mr {
    font-size: 14px;
    padding: 20px;

    .ant-timeline-item-head-blue {
      border-color: #52c41a;
    }

    .ant-timeline-item {
      height: auto;
      overflow: hidden;
      line-height: 24px;

      &:last-child {
        padding-bottom: 0;

        .ant-timeline-item-content {
          min-height: 0;
        }
      }

      .tl-title {
        float: left;
        display: block;
        width: 60%;
        overflow: hidden;
        margin-right: 5%;
        height: 2em;
      }

      .tl-date {
        float: right;
        display: block;
        width: 20%;
      }

      .tl-name {
        float: left;
        display: block;
        width: 10%;
        margin-right: 5%;
      }
    }

    //对接信息
    .dj-tab {
      width: 100%;

      tr {
        margin-top: 15px;
        line-height: 44px;
        font-weight: 500;
      }

      td {
        width: 200px;
      }
    }
  }

  .kb-wrap {
    margin-top: 14px;
    display: flex;

    .kb-left {
      flex: 40%;
    }

    .kb-right {
      flex: 60%;
      margin-left: 8px;
    }

    .kb-right-top {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin: 16px 0;
    }

    .kb-timeline {
      span {
        text-align: center;
        display: inline-block;
      }

      span:nth-child(1) {
        margin-left: 10px;
        width: 48px;
      }

      span:nth-child(2) {
        width: 72px;
      }

      span:nth-child(3) {
        width: 100px;
      }

      span:nth-child(4) {
        width: 100px;
      }

      span:nth-child(5) {
        width: 48px;
        font-weight: 500;
      }

      .bgc4 {
        width: 42px;
        height: 23px;
        // background: url('../img/kbys.png');
      }

      .bgc5 {
        width: 42px;
        height: 23px;
        // background: url('../img/kbst.png');
      }

      .bgc6 {
        width: 42px;
        height: 23px;
        // background: url('../img/kbdd.png');
      }
    }

    .ant-fullcalendar-header {
      text-align: center;

      .ant-radio-group {
        display: none;
      }
    }

    .cal-css {
      position: relative;

      .shang-yue {
        position: absolute;
        top: 11px;
      }

      .xia-yue {
        position: absolute;
        top: 11px;
        right: 0;
      }
    }

    .ant-fullcalendar {
      border-top: none;
    }

    .ant-fullcalendar-calendar-body {
      padding: 0;
    }

    .ant-fullcalendar-date {
      width: 40px;
      height: 40px;
      margin: 1px;
      border-top: 3px solid #ededed;
    }

    .ant-fullcalendar-content {
      bottom: auto;
      text-align: center;
      width: 40px;
      height: 40px;
      margin: 1px;
    }

    .ant-fullcalendar-value {
      width: 28px;
      height: 28px;
      border-radius: 28px;
      margin: 6px auto;
      line-height: 28px;
      display: none;
    }

    .ri-td {
      cursor: pointer;
      width: 28px;
      height: 28px;
      border-radius: 28px;
      margin: 6px auto;
    }

    .ri-jint {
      cursor: pointer;
      background-color: #2290ff;
      width: 28px;
      height: 28px;
      border-radius: 28px;
      margin: 6px auto;
      line-height: 28px;
      color: #ffffff;
    }

    .ri-td {
      background-color: #fff;
    }

    .kebiao-li {
      max-height: 250px;
      overflow-y: auto;
      ul {
        height: auto;
        overflow: hidden;
        padding: 2px 0;

        li {
          float: left;

          &.lessonType {
            width: 16%;

            span.dingdan {
              border: solid 1px #2797ff;
              background-color: #cde7ff;
              color: #1a62b2;
              padding: 0 3px;
              border-radius: 3px;
            }

            span.shiting {
              border: solid 1px #288f63;
              background-color: #d2eae2;
              color: #456a20;
              padding: 0 3px;
              border-radius: 3px;
            }

            span.yanshi {
              border: solid 1px #c3910a;
              background-color: #fbe9d7;
              color: #d47b4c;
              padding: 0 3px;
              border-radius: 3px;
            }
          }

          &.subject {
            width: 15%;
          }

          &.grade {
            width: 15%;
          }

          &.teacher {
            width: 19%;
          }

          &.time {
            width: 25%;
          }

          &.lessonStatus {
            width: 10%;

            .hong {
              color: #ff0000;
            }
          }
        }
      }
    }
  }

  .info-taps-nav {
    font-size: 15px;
    height: auto;
    overflow: hidden;

    span.tab {
      width: 128px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      display: block;
      float: left;
      cursor: pointer;

      &.on-it {
        border-bottom: 2px solid #2290ff;
      }
    }
  }

  .info-space {
    border-top: 1px solid #ddd;
    margin-top: -1px;
  }

  .content-item {
    height: auto;
    overflow: hidden;
    padding: 12px 0;
    font-weight: 500;

    .info-zz-title {
      line-height: 26px;
      overflow: hidden;
    }

    .zz-foot-txt {
      height: auto;
      overflow: hidden;

      p {
        float: left;
        color: #c0c0c0;
        margin-right: 16px;

        span {
          color: #5e7494;
        }

        &:last-child {
          float: right;
        }
      }
    }
  }

  .info-fujian {
    clear: both;
    height: auto;
    overflow: hidden;
    margin: 18px 0;

    span {
      display: block;
      overflow: hidden;
      height: auto;

      a {
        color: #5e7494;
        font-weight: 400;
        display: block;
        line-height: 28px;
        float: left;
        padding-left: 30px;
        // background: url('../img/S21.png') no-repeat center left;
      }

      i {
        display: block;
        float: left;
        width: 28px;
        height: 28px;
        // background: url('../img/S30.png') no-repeat center center;
      }
    }
  }

  .audio-wrap {
    width: auto;
    height: 56px;
    line-height: 56px;
    background-color: #fafafa;
    display: flex;
    align-items: center;

    /*垂直居中*/
    .audio-con {
      float: left;
      display: flex;
    }
  }

  .jindu {
    padding: 10px;
    width: 120px;
  }

  .zui-por {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dotted #dddddd;
    position: relative;
  }

  .zui-poa {
    cursor: pointer;
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: #2290ff;
    line-height: 20px;
    margin-bottom: 4px;
  }
}

.selectFir {
  margin-bottom: 20px;
}

.selectgc {
  line-height: 32px;
}

.divider {
  margin: 25px 0;
  border-bottom: 1px solid #e8e8e8;
}

.upMessage {
  margin-top: 15px;
}

.selectFiles {
  margin-bottom: 10px;
}

.loadingModal {
  height: 230px;
  padding-top: 50px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.modalSuccess {
  padding-top: 20px;
  // padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  .ant-modal-body {
    padding: 0;
  }
}

//.ant-modal-body {
//  padding: 0;
//}

.modalFalse {
  padding: 20px;

  .textRed {
    margin-bottom: 10px;

    span {
      color: red;
    }
  }

  .btns {
    margin-top: 20px;
    text-align: right;

    button {
      margin-left: 10px;
    }
  }
}

.modalFooter {
  .ant-modal-footer {
    display: block;
  }

  .footer {
    margin-top: 30px;
    text-align: right;
    padding: 20px 30px 20px 0;
    border-top: 1px solid #ededed;

    button {
      margin-left: 20px;
    }
  }
}

.importLeads {
  .importLeads-padding {
    padding: 24px;
  }

  .ant-modal-body {
    padding: 0;
  }
}

.footerDivider {
  border-bottom: 1px solid #e8e8e8;
}

.importLeads .ant-modal-footer {
  display: none;
}

.dbd {
  .ant-select-selection__choice {
    border: none;
    background: none;
  }

  .ant-select-selection__choice__remove {
    display: none;
  }
}
.caozuojl-list {
  max-height: 310px;
  overflow-y: auto;
}
