.Audition {
  .space {
    margin-top: 24px;
    border-top: 1px solid #e6e6e6;
  }
  .search-div {
    margin-top: 16px;
    margin-bottom: 28px;
    height: auto;
    overflow: hidden;
  }
  .search-inp-wrap {
    float: left;
    height: auto;
  }
  .search-bn-wrap {
    float: left;
    margin-left: 12px;
    height: auto;
  }
  .search-inp {
    width: 292px;
    height: 36px;
  }
  .search-bn {
    width: 68px;
    height: 36px;
  }
  .filter-com {
    margin-top: 14px;
    clear: both;
    font-size: 14px;
    height: auto;
    overflow: hidden;
  }
  .paix-xiala {
    font-size: 16px;
    color: #333333;
  }
  .gaoji-search {
    cursor: pointer;
    line-height: 34px;
    float: right;
    span {
      margin-right: 8px;
    }
  }
  .search-gaoji-sel {
    width: 240px;
    min-height: 35px;
    margin-left: 6px;
    margin-right: 12px;
  }
  .rili-wid {
    width: 230px;
  }
  .search-gaoji-Radio {
    margin-left: 6px;
  }
  .bn-mr {
    margin-right: 12px;
  }
  .crear-up {
    position: relative;
    top: -4px;
    left: 8px;
    font-size: 12px;
  }
  .crear-pxtext {
    font-size: 12px;
    margin-left: 6px;
  }
  .crear-down {
    position: relative;
    left: -4px;
    top: 4px;
    font-size: 12px;
  }
  .asjlq {
    position: absolute;
    right: 100px;
  }
  .leads-tab-com {
    .sttaps-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;
      font-size: 15px;
      height: auto;
      overflow: hidden;
      border-bottom: 1px solid #e8e8e8;
      margin-bottom: 20px;
      .tab {
        width: 88px;
        height: 62px;
        line-height: 62px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
      }
      .sortSel {
        .ant-select-selection {
          border: none;
        }
      }
    }
    .tab {
      &.onIt {
        color: #2290ff;
        border-bottom: 2px solid #2290ff;
      }
    }
    .grey {
      color: #999;
    }
  }
  .myleads-table {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .myleads-name {
      cursor: pointer;
      color: #2290ff;
      line-height: 32px;
    }
  }
  .myleads-tag {
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;
    i {
      font-style: normal;
    }
    .type {
      color: #f40;
      padding: 0 6px;
      float: left;
      background-color: rgb(253, 238, 230);
      border-radius: 4px;
      border: 1px solid #f40;
      margin-right: 4px;
    }
    .ke-mu {
      color: #ee57a5;
      padding: 0 6px;
      float: left;
      background-color: #fff0f6;
      border-radius: 4px;
      border: 1px solid #ffadd2;
      margin-right: 4px;
    }
    .grade {
      color: #90d772;
      padding: 0 6px;
      float: left;
      background-color: #f6ffed;
      border-radius: 4px;
      border: 1px solid #b7eb8f;
      margin-right: 4px;
    }
    .mgm {
      color: #fa6e41;
      padding: 0 6px;
      float: left;
      background-color: #fff2e8;
      border-radius: 4px;
      border: 1px solid #ffbb96;
      margin-right: 4px;
    }
    .custom {
      color: #814ad5;
      padding: 0 6px;
      float: left;
      background-color: #f9f0ff;
      border-radius: 4px;
      border: 1px solid #d3adf7;
      margin-right: 4px;
    }
  }
  .filterArea {
    .ant-row {
      &:nth-of-type(1) {
        margin-bottom: 20px;
      }
    }
    .ant-col {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .label {
      width: 100%;
      text-align: left;
    }
    .ant-select,
    .ant-input {
      width: 100%;
    }
    .ant-calendar-picker-input {
      width: 100%;
    }
  }
  .red {
    color: #f00;
  }
}

.detailModal {
  width: 80% !important;
  .ant-modal-content {
    overflow: hidden;
    .ant-modal-body {
      width: 100%;
      //height: 80vh;
    }
  }
}
.detailModal2 {
  .ant-modal-body {
    padding: 5px 24px;
  }
  .teacherInfo {
    .ant-tabs-bar {
      padding: 0px;
    }
  }
}
