.teach-fb-wrap {
  .fb-row {
    margin-bottom: 10px;

    .fb-fb {
      height: 20px;
      line-height: 20px;
      font-size: 12px;
    }
  }
}

.fb-main {
  padding-top: 20px;
  border-top: solid 1px #eee;

  h4 {
    margin-bottom: 10px;
  }
}
