.table-input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 4px 0;
  text-align: center;
}
.table-input-head {
  border: none;
  background: #fafafa;
  width: 100%;
  text-align: center;
  padding: 4px 0;
}
.addksb-modal {
  border-radius: 0;
  box-shadow: none;
  height: 100%;
  background-color: #fff;
  .ant-form-item {
    margin-bottom: 10px;
  }
  .ant-modal {
    padding-bottom: 0;
    background: #fff;
  }
  .ant-form-item-required::before {
    margin-right: 0;
  }
  .ant-modal-content {
    border-radius: 0;
    box-shadow: none;
  }
  .ant-table-thead > tr > th .ant-table-header-column {
    width: 100%;
  }
  .ant-modal-body {
    padding: 12px 12px 12px 4px;
  }
  .ant-table-tbody > tr > td,
  .ant-table-thead > tr > th {
    padding: 2px;
    text-align: center;
  }
}
.chakan-modal {
  border-radius: 0;
  box-shadow: none;
  height: 100%;
  background-color: #fff;
  .ant-col {
    padding: 4px;
  }
  .ant-modal {
    padding-bottom: 0;
    background: #fff;
  }
  .ant-modal-content {
    border-radius: 0;
    box-shadow: none;
  }
  .ant-modal-body {
    padding: 12px 12px 12px 4px;
  }
  .ant-table-tbody > tr > td,
  .ant-table-thead > tr > th {
    padding: 6px;
    text-align: center;
  }
}
.imgModal {
  .ant-modal {
    padding-bottom: 0;
    background: #fff;
  }
  .ant-modal-confirm-body > .anticon {
    display: none;
  }
}
