.option-warp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.rowItem {
  display: inline-flex;
  min-height: 45px;
  align-items: center;
  margin-right: 15px;
  .inputBox {
    width: 150px;
    margin-left: 5px;
  }
}
.payInfo {
  display: flex;
  align-items: center;
  min-height: 50px;
  .itemBox {
    margin-left: 15px;
    .account {
      color: red;
    }
  }
}
