.chacha {
  font-size: 14px;
  overflow: hidden;
  position: absolute;
  margin-top: -10px;
  margin-left: -20px;
}

.zs-css {
  .bg {
    background: #f6ffed;
    padding: 20px;
    margin: 5px 0;
  }
  .nobg {
    padding: 20px;
    margin: 5px 0;
  }
}
