.fromBox {
  .ant-form-item {
    display: flex;
    margin-bottom: 10px;
  }
  .ant-form-item-label {
    width: 33%;
  }
  .ant-form-item-control-wrapper {
    width: 67%;
  }
  .buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
