.SearchSel-noMultiple {
  .ant-select-selection--multiple .ant-select-selection__choice {
    border: none;
    background: none;
    padding: 0 6px 0 6px;
  }
  .ant-select-selection--multiple .ant-select-selection__choice__remove {
    display: none;
  }
}
