.search-div {
    margin-top: 28px;
    margin-bottom: 28px;
    height: auto;
    overflow: hidden;
  }

  .search-inp-wrap {
    float: left;
    height: auto;
  }

  .search-bn-wrap {
    float: left;
    margin-left: 12px;
    height: auto;
  }

  .search-inp {
    width: 292px;
    height: 36px;
  }

  .search-bn {
    width: 68px;
    height: 36px;
  }